node_modules
.idea
.DS_Store

#Hardhat files
cache
artifacts

abi
coverage
coverage.json

.openzeppelin
.env
env
*.py
*.sh
logs
tmp
deployments/localhost

tasks/config/*
!tasks/config/playground-deployments/
!tasks/config/example.json
!tasks/config/flat-example.json
!tasks/config/factory-example.json

*.csv